<div class="row">
    <div class="col-4 d-flex justify-content-center">
        <div class="shadow-lg p-3">
            <img  style="width: 100%;" src="/assets/My Imges/1740727927-WhatsApp202025-02-282012.png" />
            <div class="wrap-info">
                <h2 style="color: rgb(33, 37, 41);">Ramadan Feast</h2>
            </div>
            <div class="price-wrapper">
                <span class="normal-price has-discount">Rs.  1499</span>
            </div>
            <div class="add-to-card-button">
                <span class="normal-price has-discount">Add To Card</span>
            </div>
        </div>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <div class="shadow-lg p-3">
            <img  style="width: 100%;" src="/assets/My Imges/1740727927-WhatsApp202025-02-282012.png" />
            <div class="wrap-info">
                <h2 style="color: rgb(33, 37, 41);">Ramadan Feast</h2>
            </div>
            <div class="price-wrapper">
                <span class="normal-price has-discount">Rs.  1499</span>
            </div>
            <div class="add-to-card-button">
                <span class="normal-price has-discount">Add To Card</span>
            </div>
        </div>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <div class="shadow-lg p-3">
            <img  style="width: 100%;" src="/assets/My Imges/1740727927-WhatsApp202025-02-282012.png" />
            <div class="wrap-info">
                <h2 style="color: rgb(33, 37, 41);">Ramadan Feast</h2>
            </div>
            <div class="price-wrapper">
                <span class="normal-price has-discount">Rs.  1499</span>
            </div>
            <div class="add-to-card-button">
                <span class="normal-price has-discount">Add To Card</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4 d-flex justify-content-center">
        <div class="shadow-lg p-3">
            <img  style="width: 100%;" src="/assets/My Imges/1740727927-WhatsApp202025-02-282012.png" />
            <div class="wrap-info">
                <h2 style="color: rgb(33, 37, 41);">Ramadan Feast</h2>
            </div>
            <div class="price-wrapper">
                <span class="normal-price has-discount">Rs.  1499</span>
            </div>
            <div class="add-to-card-button">
                <span class="normal-price has-discount">Add To Card</span>
            </div>
        </div>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <div class="shadow-lg p-3">
            <img  style="width: 100%;" src="/assets/My Imges/1740727927-WhatsApp202025-02-282012.png" />
            <div class="wrap-info">
                <h2 style="color: rgb(33, 37, 41);">Ramadan Feast</h2>
            </div>
            <div class="price-wrapper">
                <span class="normal-price has-discount">Rs.  1499</span>
            </div>
            <div class="add-to-card-button">
                <span class="normal-price has-discount">Add To Card</span>
            </div>
        </div>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <div class="shadow-lg p-3">
            <img  style="width: 100%;" src="/assets/My Imges/1740727927-WhatsApp202025-02-282012.png" />
            <div class="wrap-info">
                <h2 style="color: rgb(33, 37, 41);">Ramadan Feast</h2>
            </div>
            <div class="price-wrapper">
                <span class="normal-price has-discount">Rs.  1499</span>
            </div>
            <div class="add-to-card-button">
                <span class="normal-price has-discount">Add To Card</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4 d-flex justify-content-center">
        <div class="shadow-lg p-3">
            <img  style="width: 100%;" src="/assets/My Imges/1740727927-WhatsApp202025-02-282012.png" />
            <div class="wrap-info">
                <h2 style="color: rgb(33, 37, 41);">Ramadan Feast</h2>
            </div>
            <div class="price-wrapper">
                <span class="normal-price has-discount">Rs.  1499</span>
            </div>
            <div class="add-to-card-button">
                <span class="normal-price has-discount">Add To Card</span>
            </div>
        </div>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <div class="shadow-lg p-3">
            <img  style="width: 100%;" src="/assets/My Imges/1740727927-WhatsApp202025-02-282012.png" />
            <div class="wrap-info">
                <h2 style="color: rgb(33, 37, 41);">Ramadan Feast</h2>
            </div>
            <div class="price-wrapper">
                <span class="normal-price has-discount">Rs.  1499</span>
            </div>
            <div class="add-to-card-button">
                <span class="normal-price has-discount">Add To Card</span>
            </div>
        </div>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <div class="shadow-lg p-3">
            <img  style="width: 100%;" src="/assets/My Imges/1740727927-WhatsApp202025-02-282012.png" />
            <div class="wrap-info">
                <h2 style="color: rgb(33, 37, 41);">Ramadan Feast</h2>
            </div>
            <div class="price-wrapper">
                <span class="normal-price has-discount">Rs.  1499</span>
            </div>
            <div class="add-to-card-button">
                <span class="normal-price has-discount">Add To Card</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4 d-flex justify-content-center">
        <div class="shadow-lg p-3">
            <img  style="width: 100%;" src="/assets/My Imges/1740727927-WhatsApp202025-02-282012.png" />
            <div class="wrap-info">
                <h2 style="color: rgb(33, 37, 41);">Ramadan Feast</h2>
            </div>
            <div class="price-wrapper">
                <span class="normal-price has-discount">Rs.  1499</span>
            </div>
            <div class="add-to-card-button">
                <span class="normal-price has-discount">Add To Card</span>
            </div>
        </div>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <div class="shadow-lg p-3">
            <img  style="width: 100%;" src="/assets/My Imges/1740727927-WhatsApp202025-02-282012.png" />
            <div class="wrap-info">
                <h2 style="color: rgb(33, 37, 41);">Ramadan Feast</h2>
            </div>
            <div class="price-wrapper">
                <span class="normal-price has-discount">Rs.  1499</span>
            </div>
            <div class="add-to-card-button">
                <span class="normal-price has-discount">Add To Card</span>
            </div>
        </div>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <div class="shadow-lg p-3">
            <img  style="width: 100%;" src="/assets/My Imges/1740727927-WhatsApp202025-02-282012.png" />
            <div class="wrap-info">
                <h2 style="color: rgb(33, 37, 41);">Ramadan Feast</h2>
            </div>
            <div class="price-wrapper">
                <span class="normal-price has-discount">Rs.  1499</span>
            </div>
            <div class="add-to-card-button">
                <span class="normal-price has-discount">Add To Card</span>
            </div>
        </div>
    </div>
</div>